.body{
    background-image: url('/assets/Shopping Background-05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: auto;
}