<div class="contaniner">
  <br><br>
      <div class="row">
            <div class="col-8">
           </div>
            <div class="col-4">
              <br>
              <div class="card" style="width: 18rem;">
                <div class="card-body" >
                  <h5 class="card-title">List Of EmployeeTypes</h5>
                  <p class="card-text">Here you can find all the types of employees.</p>
                  <a routerLink="/employees" class="btn btn-danger"> Go </a>
                </div>
              </div><br>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">List Of Machines</h5>
                  <p class="card-text">Here you can find all machines.</p>
                  <a routerLink="/machines" class="btn btn-danger"> Go </a>
                </div>
              </div><br>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">List of Job Cards</h5>
                  <p class="card-text">Here you can find all JobCards.</p>
                  <a routerLink="/jobCards" class="btn btn-danger"> Go </a>
                </div>
              </div>
             </div>
        </div>
<br><br><br><br>
    <lib-ngx-notification></lib-ngx-notification>
  </div>
<!--<router-outlet></router-outlet>-->
